*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.clr {
  clear: both;
}
.container {
  width: 80%;
  margin: auto;
  /* background-color: aqua; */
}
img {
  width: 100%;
}
body {
  font-family: "Exo", sans-serif;
}
.nav {
  width: 100%;
  background-color: blueviolet;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  border: black solid 2px;
  border-radius: 15px;
  background-color: white;
  z-index: 99999999;
}
.nav .container ul {
  display: flex;
  align-items: center;
}
.nav .container ul li {
  padding-inline: 15px;
  transition: 30ms;
}
.nav .container ul li:hover {
  color: #ff7a50;
}
.nav .container span {
  color: #ff6900;
}
.nav .container h2 {
  font-size: 30px;
  font-weight: 800;
}
.btn_nav {
  border: black 3px solid;
  border-radius: 15px;
  background-color: #ffd15b;
  font-weight: 600;
  padding: 10px 20px;
  transition: 50ms 50ms;
}
.btn_nav:hover {
  transform: translate(2px, 2px);
}
.herosection {
  background-color: #fff085;
  min-height: 110vh;
  width: 100%;
  border-bottom: 5px black solid;
  padding-top: 100px;
}
.hero {
  display: flex;
  align-items: center;
}
.herocontent {
  width: 50%;
}

.hero_trend {
  width: fit-content;
  color: white;
  background-color: black;
  padding: 8px;
  transform: rotate(-2deg);
  box-shadow: 3px 3px black;
}
.hero_color_1 {
  font-size: 70px;
  font-weight: 800;
  text-shadow: 3px 3px black;
}
.hero_color_2 {
  font-size: 70px;
  color: #e7000b;
  font-weight: 800;
  text-shadow: 3px 3px black;
}
.hero_color_3 {
  font-size: 70px;
  color: #155dfc;
  font-weight: 800;
  text-shadow: 3px 3px black;
}
.hero_describtion {
  padding: 20px;
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0 20px 0;
  background-color: white;
  border: 3px black solid;
  box-shadow: 3px 3px black;
}
.hero_btn1 {
  display: inline-block;
  color: white;
  background-color: black;
  padding: 20px 40px;
  border: solid black 5px;
  box-shadow: 6px 6px 0 black;
  margin-right: 40px;
  transition: 90ms ease-in-out;
  cursor: pointer;
}
.hero_btn1:hover {
  transform: translate(6px, 6px);
  box-shadow: 0px 0px black;
}
.hero_btn2 {
  display: inline-block;
  color: black;
  background-color: white;
  padding: 20px 40px;
  border: solid black 5px;
  box-shadow: 6px 6px black;
  transition: 90ms ease-in-out;
}
.hero_btn2:hover {
  transform: translate(6px, 6px);
  box-shadow: 0px 0px black;
}
.heroimage {
  width: 50%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}
.image_describtion {
  width: fit-content;
  position: relative;
  top: 20px;
  left: 20px;
  z-index: 1;
  background-color: #fb2c36;
  color: white;
  padding: 10px 20px;
  border: solid black 3px;
  box-shadow: 2px 2px black;
  transform: rotate(15deg);
}
.heroimage img {
  width: 80%;
  border: solid black 5px;
  box-shadow: 6px 6px black;
  transform: rotate(1deg);
  margin-left: auto;
}
.leftarticales {
  width: 70%;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.leftarticales h2 {
  font-size: 50px;
  font-weight: 800;
}
.leftarticales .freshcontent {
  width: fit-content;
  padding: 10px 20px;
  font-size: larger;
  background-color: black;
  color: white;
  box-shadow: 3px 3px black;
  transform: rotate(3deg);
}
.articles_content_card {
  display: flex;
  flex: row wrap;
  padding: 20px 40px;
  background-color: white;
  border: 3px solid black;
  box-shadow: 5px 5px 0 black;
  margin: 30px 0px;
  transition: 500ms ease-in-out;
}
.articles_content_image {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.articles_content_image img {
  border: black solid 3px;
}
.articles_content_image p {
  position: relative;
  color: white;
  background-color: #fb2c36;
  border: black solid 2px;
  padding: 2px 4px;
  width: fit-content;
  top: 20px;
  left: 15px;
  transform: rotate(10deg);
}
.articles_card_content {
  padding: 20px 30px;
}
.articles_card_content h6 {
  background-color: #ffdf20;
  border: black solid 2px;
  box-shadow: 2px 2px 0 black;
  padding: 10px 20px;
  width: fit-content;
  transform: rotate(-2deg);
}
.articles_card_content h4 {
  font-size: x-large;
  margin: 10px 0;
}
.articles_card_content p {
  margin: 10px 0;
}
.articles_card_more {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.articles_card_child {
  width: fit-content;
}
.articles_card_child span {
  font-weight: bold;
}
.articles_content_card_1:hover {
  transform: translate(-5px, -5px);
  box-shadow: 10px 10px 0 black;
}
.articles_content_card_1:hover h4 {
  color: #e7000b;
}
.articles_content_card_2:hover {
  transform: translate(-5px, -5px);
  box-shadow: 10px 10px 0 black;
}
.articles_content_card_2:hover h4 {
  color: #155dfc;
}
.articles_content_card_3:hover {
  transform: translate(-5px, -5px);
  box-shadow: 10px 10px 0 black;
}
.articles_content_card_3:hover h4 {
  color: #9810fa;
}
.articles_card_content .back-3 {
  background-color: #fda5d5;
}
.articles_content_card_3 .articles_content_image p {
  background-color: #ad46ff;
}
.articles_card_content .back-2 {
  background-color: #7bf1a8;
  rotate: 2deg;
}
.articles_content_card_2 .articles_content_image p {
  background-color: #2b7fff;
  rotate: -40deg;
}
